<div #chatPage id="chat-page" *ngIf="show">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Prime 5 Chatter</h2>
        </div>
        <ul #messageArea id="messageArea">

        </ul>
        <form #messageForm id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input #message type="text"  id="message" placeholder="Type a message..."
                        autocomplete="off" class="form-control" />
                    <button (click)="sendMessage()" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>