<div #createAccountPage id="create-account-page" [hidden] = !isShow>
    <div class="username-page-container">
        <h1 class="title">Type your information</h1>
        <form #createAccountForm id="createAccountForm" name="createAccountForm">
            <div class="form-group">
                <input #email type="text" id="email" placeholder="email"
                       autocomplete="off" class="form-control" />

                <input #username type="text" id="newUsername" placeholder="Username"
                       autocomplete="off" class="form-control" />

                <input #password type="password" id="newPassword" placeholder="Password"
                       autocomplete="off" class="form-control" />

                <input #repeatPw type="password" id="repeatedPassword" placeholder="Retype Password"
                       autocomplete="off" class="form-control" />

                <input #firstName type="text" id="firstName" placeholder="first name"
                       autocomplete="off" class="form-control" />

                <input #lastName type="text" id="lastName" placeholder="last name"
                       autocomplete="off" class="form-control" />
                
            </div>
            <div class="form-group">
                <button type="button" (click)="goToLogin()" class="accent username-submit">Go Back</button>
                <button type="button" (click)="tryCreateUser()" class="accent username-submit">Create User</button>
            </div>
        </form>
    </div>
</div>